*{

  background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}

img {

margin-left: 620px;
margin-top: 50px;
height: 300px;

}

  h1 {

    color: white;
  text-align: center;
  font-size: 2rem;

}

  p  {
    color: white;
    font-size: 1.3rem;
    text-align: center;

}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    border: solid 1px;
}

ul li a:hover {
    color: rgb(5, 5, 5);
    background-color:lightgreen;
    transition:0.6s;
}

.box1 {
    height: 400px;
    width: 200px;
    background-color:white;

}

.content p {
    margin-top: 70px;
    font-size: 1.3rem;

}

.content h1{
    font-size: 2rem;
    margin-top: 100px;
}

.content p {
    margin-top: 80px;
    font-size: 1.8rem;
}

.family p {
    font-size: large;
    margin-top: 80px;

}

.family h1{
    margin-top: 50px;
    font-size: 2rem;
}

.logo h1 {
    margin-top: 50px;
    font-size: 2rem;
}

.logo p {
    margin-top: 80px;
    font-size: 1.8rem;
}

.family p {
    margin-top: 80px;
    font-size: 1.8rem;
}


